@font-face {
    font-family: 'iconfont';  /* project id 2341449 */
    src: url('//at.alicdn.com/t/font_2341449_adgicmi88v7.eot');
    src: url('//at.alicdn.com/t/font_2341449_adgicmi88v7.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2341449_adgicmi88v7.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2341449_adgicmi88v7.woff') format('woff'),
    url('//at.alicdn.com/t/font_2341449_adgicmi88v7.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2341449_adgicmi88v7.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont";
    font-style: normal;
    font-size: .2rem;
}

