$content-color: #b7b7b7;
$text-color: #333;
$hr-color: #f1f1f1;
$input-bg: #f9f9f9;
$login-text-color: #777;
$price-color: #E93B3B;
$plus-color: #0091ff;
$white-color: #fff;
$order-text-color: #666;
$order-bg-color: #f5f5f5;
$order-blue-color: #4FB0F9;
